// colors
$white: #fff;
$tech-gold: #b3a369;
$buzz-gold: #eaaa00;
$tech-blue: #003057;
$ibm-blue: #466bb0;
$metal-silver: #cdd0d7;

$background-dark: #161415;
$background-darker: #2b2b2b;
$background-light: #ebe8e2;
$background-lighter: #768a94;

$theme-light: $tech-gold;
$theme-strong: $buzz-gold;
$text-normal: $metal-silver;
